{% extends 'index.html' %}

{% block content2 %}
{% endblock %}

{% block entrada %}
<a href="{% url 'Bolsa_N' %}" class="top-menu"><span class="glyphicon glyphicon-plus" id="Parax123"> Nueva Bolsa</span></a>
{% endblock %}
{% block content %}
<div class="bg-color" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center" style="padding:60px;">
        <h1 class="header-h">Noticias Recientes</h1>
        <p class='titulo-s'>Publicaciones de importancia para los miembros de la comunidad</p>
      </div>
      <div class="col-md-12" style="padding-bottom:60px;">
        <div class="item active left">
          </div>
          


          {% for post in posts %}

              <div class="col-md-4 col-sm-4 details-text">
                  <h3>Numero de bolsa: <a href="{% url 'Bolsa' pk=post.pk %}">{{ post.pk }}</a></h3>
                  {% for post1 in posts2 %}

                          {% if post1.Num_Bolsa %}

                              {% ifequal post1.Num_Bolsa post %}
                                  {% if post1.confirmacion %}
                                      <span>Pago Realizado</span>
                                  {% else %}
                                      <span>Esperando Comprobacion</span>
                                  {% endif %}
                              {% else %}

                              {% endifequal %}
                          {% endif %}
                  
                  {% endfor %}
                  {% if posts2 %}
                      {% for post3 in posts3 %}
                          {% ifequal post3 post.pk %}
                              <span>No has pagado</span>
                              <a href="{% url 'Pago1' pk=post.pk %}" class="top-menu"><span class="glyphicon glyphicon-plus" id="Pag24x"> Realizar pago</span></a>
                          {% else %}
                          {% endifequal %}
                      {% endfor %}
                  {% else %}
                      <span>No has pagado   </span>
                       <a href="{% url 'Pago1' pk=post.pk %}" class="top-menu"><span class="glyphicon glyphicon-plus" id="Pag24x"> Realizar pago</span></a>

                  {% endif %}




                  <p>Costo total: {{ post.coste_B|linebreaksbr }}</p>

                  <div class="date">
                      {{ post.fecha_publicacion }}
                      <p>Autor: {{ post.autor }}</p>
                  </div>
              </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}