{% load staticfiles %}
<!DOCTYPE html>

<html lang="es">
	

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=divice-width, initial-scale=0.1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans" rel="stylesheet">
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static 'lib/fontawesome/css/all.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


	<title>|Valkyria|</title>
</head>
<body>
	<div class="contenedor">
		<article>
			{% if user.is_superuser %}
			<p>usted es super usuario</p>

			{% endif %}
			{% if user.username %}

			 <p> {{ user.username }}</p>
			 <p> {{ datos.usuario }}</p>
			 <p> {{ datos.pk }}</p>

			 <!-- Si la base de datos no encuentra ningun valor es falso, si es cierto se ejecuta.
			 	Si aqui imprime el usuario 2 veces (datos.user = user.username) entonces abajo se cumplira el condicional de mostrar datos igualmente.
			 -->
			 {% endif %}


			{% if user.is_authenticated %}
			<h1>Bienvenido.</h1>
			<a class="boton-abrir" id="boton-abrir" href="{% url 'logout' %}">logout</a>
			{% if datos.usuario %}
			<!-- Si la base de datos no encuentra ningun valor es falso, si es cierto se ejecuta.
			-->
			<a class="boton-abrir" id="boton-abrir" href="{% url 'datos_u' pk=datos.pk  %}">Perfil</a>
			<!-- Aqui se le envia un argumento a las views con el href
			-->
			{% else %}
			<a  href="{% url 'datos1' %}" class="boton-abrir">Perfil</a>

			{% endif %}

			{% else %}
			<h1>¿Preparado para ingresar?</h1>
			<a class="boton-abrir" id="boton-abrir" href="{% url 'login'%}">Login</a>
			<a class="boton-abrir" id="boton-abrir" href="{% url 'registros1'%}">Registrese</a>

		    {% endif %}
			<p>
				
			</p>

		</article>
		<div class="page-header">
		    <h1><a href="/">Valkyria</a></h1>
		    {% if user.is_authenticated %}
		    {% block entrada %}
		    {% endblock %}
		    {% else %}
		    {% endif %}

		    <p>
		    	
		    </p>
		    {% block content2 %}
		    {% endblock %}
		</div>

		<div class="content container">
		    <div class="row">
		        <div class="col-md-8">
		        {% block content %}
		        {% endblock %}
		        </div>
		    </div>
		</div>
		
		<div class="over" id="over">

			<div class="popup" id="popup">
				<a href="#" id="boton-cerrar" class="boton-cerrar">&times;</a>
				<h3>INICIO DE SESIONs</h3>
				<h4>El sistema cierra a las 9:00PM.</h4>
				<form method= "post">

					{# A more "HTML" way of creating the login form#}

				<button type="submit">Login</button>


				</form>
			</div>
		</div> 
	</div>

	<script src="{% static 'js/P.js' %}"></script>

<body>
	<div class="fondo">
		
	</div>

</body>
</body>
</html>