{% extends 'index.html' %}

{% block content2 %}
  {% if user.is_authenticated %}
  <div class="M_d">
    <p id="contSaludo"></p>
    {{ user.username }}! Mira las nuevas noticias que hay.
          
  </div>


{% block info %}

<div id="highlighted-slider" class="container">
  <div class="item-slider" data-toggle="owlcarousel" data-owlcarousel-settings='{"singleItem":true, "navigation":true, "transitionStyle":"fadeUp"}'>
    <div class="item">
      <div class="row">
        <div class="bg-color21 col-md-1 hidden-xs">
          
        </div>
        <div class="col-md-5 text-right-md item-caption bg-color3">
          <p class="h1 text-weight-light">
              
            </p>
          <p class='titulo-s'>La unidad lo hace todo y, por lo mismo, debemos conservar este precioso principio
            <br><br>
            -Simon Bolivar</p>
        </div>
        <div class="bg-color2 col-md-1 hidden-xs">
          
        </div>

        <div class="col-md-3 hidden-xs">
          <img src="static/css2/img/Simon-bolivar.jpg" alt="" class="center-block img-responsive">
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row">
        <div class="bg-color21 col-md-1 hidden-xs">
          
        </div>
        <div class="col-md-5 text-right-md item-caption bg-color3">

            <p class='titulo-s'>La unidad lo hace todo y, por lo mismo, debemos conservar este precioso principio

            -Simon Bolivar</p>
        </div>
        <div class="bg-color2 col-md-1 hidden-xs">
          
        </div>

        <div class="col-md-3 hidden-xs">
          <img src="img/slides/slide2.png" alt="" class="center-block img-responsive">
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row">
        <div class="bg-color21 col-md-1 hidden-xs">
          
        </div>

        <div class="col-md-5 text-weight-light-md item-caption bg-color3">
          <h2 class="h1 text-weight-light">
              Valkyria
            </h2>

            <p class='titulo-s'>Sistema de Información Para el Registro y Control Del Clap “Alimento” En La Comunidad Arenosa1.</p>
        </div>
        <div class="bg-color2 col-md-1 hidden-xs">
          
        </div>

        <div class="col-md-3 hidden-xs">
          <img src="static/css2/img/Simon-bolivar.jpg" alt="" class="center-block img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


    
    <p></p>
  {% else %}
    <p>Usted es un visitante.</p>
  {% endif %}

{% endblock %}
{% block entrada %}

{% endblock %}
{% block content %}
<div class="bg-color" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center" style="padding:60px;">
        <h1 class="fblanc">Noticias Recientes</h1>
        <p class='titulo-s fblanc'>Publicaciones de importancia para los miembros de la comunidad</p>
        <br>
      </div>
      <div class="col-md-12" style="padding-bottom:60px;">
        <div class="item active left">
          </div>
          {% if user.is_superuser %}
          <a href="{% url 'post_new' %}" class="top-menu text-center" required id="iconB" data-toggle="modal" data-target="#myModal1" data-id="" data-href="{% url 'post_new' %}"><span class="btn btn-primary botonpublic" id="Parax123"> Nuevo Post</span></a>
          <br>
          <br>
          {% endif %}

          {% for post in posts %}
            <div class="col-md-4 col-sm-4 details-text">
              <div class="content-holder">
                <h1 class="fblanc" style="font-size: 31px">{{ post.titulo|truncatechars:13 }}</h1>
                <p>{{ post.texto|truncatechars:255 }}</p>
                <address>
                    <strong>Autor: </strong>
                    <span class="fblanc">{{post.autor|truncatechars:20}}  </span>
                    <br>
                    <strong>Publicado: </strong>
                    <span class="fblanc">{{ post.fecha_publicacion }} </span>
                </address>

                <a class="btn btn-imfo btn-read-more" href="{% url 'post_detail' pk=post.pk %}">Leer Mas</a>
              </div>
            </div>

          {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>












<div class="container-modal">
  <div class="modal fade" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header">
          <h4 class="modal-title text-center fblanc" id="pr1">Nueva Publicacion</h4>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <div class="modal-body" id="popupb">
          <form accept-charset="UTF-8" method='post' action="a" id="F-bs-1" name="amxj">

            <fieldset>
              {% for field in form2 %}

                {% csrf_token %}
                <div class="errores">
                  {{ field.errors }}
                </div>
                  {% if forloop.counter == 1%}
                  <div class="">
                    <div class="input-group-lg">
                      <input class="form-control" style="color: rgba(255, 255, 255,0.90);" placeholder='Titulo' {{field}}
                    </div>
                  </div>
                  {% endif %}
                  {% if forloop.counter == 2%}
                  <div class="">
                    <div class="input-group-lg">
                      <input class="form-control" style="color: rgba(255, 255, 255,0.90);" placeholder="Informacion" type="text" {{field}} 
                    </div>
                  </div>
                  {% endif %}
                  <p></p>
                  {% if field.help_text %}
                  <p class="help">{{ field.help_text|safe }}</p>
                  {% endif %}

              {% endfor %}

              <button class="btn btn-lg btn-primary btn-block" type="submit" id="enviof-1">Enviar</button>
            </fieldset>
            <br>


          </form>
        </div>
                          
      </div>
    </div>
  
</div>









{% endblock %}