<!DOCTYPE html>
<html>
<head>
	<title>Quienes Somos</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=divice-width, initial-scale=0.1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans" rel="stylesheet">
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="{% static 'css/style121.css' %}">
</head>
<body>
	<div class="contenedor">
		<header>
			<img id=""class= "patria" src="{% static 'css\imagen\patria.png' %}">
			
		</header>
	<button id="boton-mostrar">Mostrar</button>
	<button id="boton-ocultar">Ocultar</button>
	<p id="parrafo">Haz clic en los botones de arriba para mostrar o ocultar este párrafo</p>


<script type="text/javascript" src="{% static 'css/animacione.js' %}"></script>


</div>
</body>
</html>

