
body
{
  background-image:url("/static/css/imagen/parapats.png");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  list-style:none;

  }

/* Registro 
*/
.contenedor .content .row .col-md-8 .fields{
	background:	#fff;
	margin: 0.1% -20% 10% 35%;
	padding: 4%;
	opacity:1.0; /* Opacidad 60% */
	border: 8px solid #333;
	border-radius: 50px; 
	box-shadow: 10px 10px 5px #888; /* sombras */

}

.contenedor .content .row .col-md-8 .fields button {
	background-image:url("/static/css/imagen/vinilo-cargando.png");
	background: #DF5B43;
	padding: 5%;
	width:50%;

	margin: 20% 20%;
	border: 8px solid #333;
	border-radius: 50px; 
	box-shadow: 10px 10px 5px #888;
}

#patria{
	margin-left: 80%; /* direccion de la imagen*/
	margin-top: -20%;
}
.contenedor {
	background:	#e2e3e3;
	margin: 4% 8%;
	padding: 5%;
	opacity:0.9; /* Opacidad*/
	border: 8px solid #333;
	border-radius: 50px; 
	box-shadow: 10px 10px 5px #888; /* sombras */
}

#tituloh1 {

	margin-left: 15%;
	margin-top:  -23%;
	font-size: 30px;
	text-align: left;
	padding: 1%;
}
#tituloh {

	margin-left: 5%;
	margin-top:  -21%;
	font-size: 30px;
	text-align: left;
	padding: 1%;
}

.contenedor article p {
	margin-bottom: 5%;
	margin-left: 10%;
}


/*
ingresar
*/
#M_boton-abrir{
	padding: 1%;
	margin-top: 40%;
	margin-left: 68%;
	height: 40%;
	line-height: 300%; /* Distancia entre botones */
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3%;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	transition: .3s ease all;
	
}

.contenedor article .boton-abrir:hover {
	background: rgba(94,125,227, .9);
	}



/* post */

.contenedor .content .row .col-md-8 .NP{
	margin-left: 35%;
	margin-top:  -10%;
	font-size: 30px;
	text-align: left;
	padding: 50px 0;
}
.contenedor .content .row .col-md-8 .p_edit{
	background:	#fff;
	margin: 0.1% -20% 10% 35%;
	padding: 5%;
	opacity:0.9; /* Opacidad*/
	border: 8px solid #333;
	border-radius: 50px; 
	box-shadow: 10px 10px 5px #888; /* sombras */
}

.contenedor .content .row .col-md-8 .log_in{

background: #fff;
color: #1c0d02;
padding: 5%;
width:70%;
margin: 5% 40%;
position: relative;
border: 8px solid #333;
box-shadow: 10px 10px 5px #888;


}

.contenedor .content .row .col-md-8 h2{
margin-left: 30%;
font-size: 30px;
text-align: left;
padding: 50px 0;
font-size: 50px;
color: #575251;



}
/*boton login */	
.contenedor .content .row .col-md-8 button{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 90%;
    width: 55%;
    padding: 5%;
    margin: 20% 20%;
    border: 8px solid #333;
    border-radius: 50px; 
    box-shadow: 10px 10px 5px #888;


}

.contenedor .content .row .col-md-8 button:hover{
	background: #aab1b1;


}
.contenedor .content .row .col-md-8 button:active{


	background: #E59C8E;

	}
	/*
lista usuario*/
.contenedor .content .row .col-md-8 .usuarios {
	background: #fff;
	color: #1c0d02;
	padding: 5%;
	width:70%;
	margin: 5% 40%;
	position: relative;
	border: 8px solid #333;
	box-shadow: 10px 10px 5px #888;
	white-space:nowrap;
	display: flex;
	justify-content: space-around; /*Posicion de las letras*/

	}
 /*Saludo index*/
.contenedor .page-header .M_d {
    display: block;
}
.contenedor .page-header .M_d > p {
    display: inline-block;
}
/*
boton glificus
*/
.contenedor .page-header .top-menu{
	margin-left: 15%;


}
#contReloj{
    background: rgba(0,0,0,.7);
    display: block;
    margin: 3% 0% 0% 5%;
    text-align: center;
    width: 40%;
}
#contReloj:hover{
	background: #818290; 
    display: block;
    margin: 3% 0% 0% 5%;
    text-align: center;
    width: 40%;
}

#contReloj > p{
    color: #fff;
    display: inline-block;
    padding: 2% 0%;
    font-family: 'code_boldregular';
    font-size: 280%;
}

/* Menu */
nav {
	margin: 1% auto;
	width: 90%;

}
nav ul {
	list-style:none; /* quita los puntos de lista de menu*/
}
nav > ul {
	margin:0;
	padding: 0;
	display: table;
	overflow: hidden;
	width: 80%;
	position: relative;
}
/*
nav > ul li {
	display: table-cell;
}
nav > ul > li > ul {
	display: none;
}
*/
nav > ul li a{
	line-height: 1%;
	position: relative;
	text-align: center;
	text-decoration: none; /*subrayado feo */
}
.popup form .contenedor-i {
	opacity: 0;
}
footer{
	background: #667db6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	text-align:center; 
	position:relative;
	bottom:0px;
	margin:2;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	padding:0;
	left:0;
	right:0;
	height:40px;
	width:100%;
	text-shadow: 1px 1px 1px black;
	border-top: 1px solid rgba(0,0,0,0.3);

}
.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}